.slider {
    background: url("/assets/images/wallpaper.jpeg");
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

h1{
    display: block;
    white-space: nowrap;
    color: #fff;
    border-right: 4px solid;
    width: 11ch;
  
    animation: typing 4s steps(11), blink 0.5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from {
      width: 0;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }