<p class="mt-5 text-center text-uppercase">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim,
    provident?
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea placeat ut
    atque! Quidem sit, illum ratione in dolorem, neque ut, voluptatem quasi
    praesentium nobis labore deleniti maxime molestiae itaque enim!
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea placeat ut
    atque! Quidem sit, illum ratione in dolorem, neque ut, voluptatem quasi
    praesentium nobis labore deleniti maxime molestiae itaque enim!
  </p>
  <p class="border border-primary rounded-3 text-secondary p-4 w-25 float-start me-4 text-justify">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea placeat ut
    atque! Quidem sit, illum ratione in dolorem, neque ut, voluptatem quasi
    praesentium nobis labore deleniti maxime molestiae itaque enim!
  </p>
  <p >
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea placeat ut
    atque! Quidem sit, illum ratione in dolorem, neque ut, voluptatem quasi
    praesentium nobis labore deleniti maxime molestiae itaque enim!
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea placeat ut
    atque! Quidem sit, illum ratione in dolorem, neque ut, voluptatem quasi
    praesentium nobis labore deleniti maxime molestiae itaque enim!
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea placeat ut
    atque! Quidem sit, illum ratione in dolorem, neque ut, voluptatem quasi
    praesentium nobis labore deleniti maxime molestiae itaque enim!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim,
    provident?
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea placeat ut
    atque! Quidem sit, illum ratione in dolorem, neque ut, voluptatem quasi
    praesentium nobis labore deleniti maxime molestiae itaque enim!
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea placeat ut
    atque! Quidem sit, illum ratione in dolorem, neque ut, voluptatem quasi
    praesentium nobis labore deleniti maxime molestiae itaque enim!
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea placeat ut
    atque! Quidem sit, illum ratione in dolorem, neque ut, voluptatem quasi
    praesentium nobis labore deleniti maxime molestiae itaque enim!
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea placeat ut
    atque! Quidem sit, illum ratione in dolorem, neque ut, voluptatem quasi
    praesentium nobis labore deleniti maxime molestiae itaque enim!
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea placeat ut
    atque! Quidem sit, illum ratione in dolorem, neque ut, voluptatem quasi
    praesentium nobis labore deleniti maxime molestiae itaque enim!
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea placeat ut
    atque! Quidem sit, illum ratione in dolorem, neque ut, voluptatem quasi
    praesentium nobis labore deleniti maxime molestiae itaque enim!
  </p>
